<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SadBoy's Place</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/components/loader.js" type="module" defer></script>
  </head>
  <body>
    <div id="container">
      <div id="headerArea">
        <navbar-component></navbar-component>
      </div>
      <div id="flex">
        <main>
          <div id="last-edited">
            last edited: <strong>27/09/2024</strong> (dd/mm/yyyy)
          </div>
          <h1>Title</h1>
          <p><strong>Score: /10</strong></p>
          <p><strong>Date: </strong></p>

          <div class="dialog-box"><strong>Person:</strong> Dialog.</div>

          <center>
            <p>Dialog actions.</p>
          </center>

          <div class="dialog-box"><strong>Person 2:</strong> Dialog 2?</div>

          <center>
            <p><strong>The End.</strong></p>
          </center>

          <h1>Review</h1>
        </main>
      </div>
    </div>
  </body>
</html>
