<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SadBoy's Place</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/components/loader.js" type="module" defer></script>
  </head>
  <body>
    <div id="container">
      <div id="headerArea">
        <navbar-component></navbar-component>
      </div>
      <div id="flex">
        <main>
          <div id="last-edited">
            last edited: <strong>20/09/2024</strong> (dd/mm/yyyy)
          </div>
          <h1>1. This is the template for each page, yeah.</h1>
          <p><strong>Important stuff is bold i guess</strong></p>
          <p>
            I like to divide different sections using this headline stuff with
            background color. I looks kinda ugly but is easy to understand I
            guess.
          </p>
          <p>
            This is a template paragraph, you can add text like this, and this,
            and that, and those. Its used to show text so people can read the
            information that I am trying to share throught this website. Yeah,
            its just a normal paragraph used for writting stuff. Because thats
            what paragrahs are for bla bla bla
          </p>
          <p>
            I can even <strong>add links using this link tag</strong>:
            <a href="template.html" target="_blank"
              >Yes, I am link but am not green.</a
            >
            If you click it, you will be sent to this page. Useless, yeah, like
            me.
          </p>

          <h1>2. Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
            dolore adipisci velit, placeat, ad amet distinctio dolorem veniam
            dignissimos nostrum porro animi fugiat repudiandae similique vero
            eligendi sint ipsum tempore perspiciatis blanditiis vel rem? Unde
            odit quia quo excepturi alias consectetur iure assumenda, recusandae
            magnam quod, totam, ea neque dolor ratione ipsum animi voluptas eos
            exercitationem nemo? Rerum aperiam sit cum perferendis facilis
            explicabo fuga expedita blanditiis temporibus porro impedit
            obcaecati quibusdam voluptas voluptatum, ab harum, placeat quaerat
            soluta ipsam! Dignissimos culpa omnis, quo voluptatum sed, quas
            doloribus laborum provident enim inventore accusamus fugiat impedit,
            nobis quam expedita nulla labore?
          </p>

          <p>
            Sad, why is life so sad? Why can't it be happy? Why do I gotta fell
            bad all the time? Is there any meaning to this or are we just here
            existing? To be honest, it doesn't matter and I don't care. The only
            thing that matter, is that I am here and am alive. The only choice I
            have, is to <strong>live</strong> and to be <strong>happy</strong>.
          </p>
        </main>
      </div>
    </div>
  </body>
</html>
